body {
    font-family: Arial, sans-serif;
  }
  h1 {
    text-align: center;
  }
  .event-list {
    margin: 20px;
    padding: 0;
    list-style: none;
  }
  .event-item {
    background-color: #F4F4F4;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
  }
  .date {
    font-weight: bold;
  }
  .description {
    margin-top: 5px;
  }